---
import projects from "../../data/projects-data.json";
import Project from "../ui/project-item-render.astro";
import Button from "../ui/button.astro";
import PageHeading from "../ui/page-heading.astro";
---

<section
  class="relative z-20 max-w-2xl mx-auto my-8 sm:my-12 px-4 sm:px-7 lg:px-0"
>
  <PageHeading title='My <span class="text-blue-500">Projects</span>' />

  <div
    class="z-50 grid items-stretch w-full grid-cols-1 my-6 sm:my-8 gap-5 sm:gap-7 sm:grid-cols-2"
  >
    {
      projects.slice(0, 4).map((project) => {
        return (
          <Project
            name={project.name}
            description={project.description}
            image={project.image}
            url={project.url}
            tags={project.tags}
          />
        );
      })
    }
  </div>

  <div class="flex items-center justify-center w-full py-5">
    <Button text="View All My Projects" link="/projects" />
  </div>
</section>
